<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إضافة اشتراك</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>إضافة اشتراك جديد</h1>
        <form method="POST">
            <label for="name">الاسم:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="subscription_date">تاريخ الاشتراك:</label>
            <input type="date" id="subscription_date" name="subscription_date" required><br><br>
            <label for="end_date">تاريخ الانتهاء:</label>
            <input type="date" id="end_date" name="end_date" required><br><br>
            <label for="phone">رقم الهاتف:</label>
            <input type="text" id="phone" name="phone" required><br><br>
            <label for="subscription_type">نوع الاشتراك:</label>
            <input type="text" id="subscription_type" name="subscription_type" required><br><br>
            <button type="submit" class="button">إضافة الاشتراك</button>
        </form>
        <a href="{{ url_for('home') }}" class="button">الرجوع إلى الصفحة الرئيسية</a>
    </div>
</body>
</html>
